<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/appleStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footerStyles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Animation Experimentations</title>
</head>
<body>

    <div id="title">
        <h1 id="title-authors">MILLER & McNIVEN'S</h1>
        <h1 id="title-nemesis">NEMESIS</h1>
    </div>
    <div class="buttons-container">
        <button class="cta" id="cta1">Makes Kick-Ass Look Like Shit<br><img src="../images/Nemesis/Nemesis1TextLessCover.png"></button>
        <button class="cta" id="cta2">Crime Is Awesome And So Am I<br><img src="../images/Nemesis/Nemesis2TextLessCover.png"></button>
        <button class="cta" id="cta3">That All You Got?<br><img src="../images/Nemesis/Nemesis3TextLessCover.png"></button>
        <button class="cta" id="cta4">Shoot Straight Asshole!<br><img src="../images/Nemesis/Nemesis4TextlessCover.png"></button>
    </div>
    

    <div class="footer">
        <button class="footer-link" id="home-link"><a class="footer-a-tags" href="../index.html">Home!</a></button>
        <button class="footer-link" id="tomato-link"><a class="footer-a-tags" href="tomatoes.html">Tomatoes!</a></button>
        <button class="footer-link" id="can-link"><a class="footer-a-tags" href="spider.html">Spider!</a></button>
        <button class="footer-link" id="bottle-link"><a class="footer-a-tags" href="bottles.html">Bottles!</a></button>
        <button class="footer-link" id="apple-link"><a class="footer-a-tags" href="apples.html">Apples!</a></button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="../logic/footerLogic.js"></script>
    <script src="../logic/applesLogic.js"></script>
</body>
</html>
