<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/archerStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footerStyles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Animation Experimentations</title>
</head>
<body>

        <button id="cta">Click Here!</button>
    
    
    <div class="panel">
        <img  id="hourhand" src="../images/clock.png">
        <img  id="minutehand" src="../images/clock.png">
        <p class="clockNum" id="number1">1</p>
        <p class="clockNum" id="number2">2</p>
        <p class="clockNum" id="number3">3</p>
        <p class="clockNum" id="number4">4</p>
        <p class="clockNum" id="number5">5</p>
        <p class="clockNum" id="number6">6</p>
        <p class="clockNum" id="number7">7</p>
        <p class="clockNum" id="number8">8</p>
        <p class="clockNum" id="number9">9</p>
        <p class="clockNum" id="number10">10</p>
        <p class="clockNum" id="number11">11</p>
        <p class="clockNum" id="number12">12</p>
        <div id="dot"></div>
    </div>

    <div class="footer">
        <button class="footer-link" id="home-link"><a class="footer-a-tags" href="../index.html">Home!</a></button>
        <button class="footer-link" id="tomato-link"><a class="footer-a-tags" href="tomatoes.html">Tomatoes!</a></button>
        <button class="footer-link" id="can-link"><a class="footer-a-tags" href="spider.html">Spider!</a></button>
        <button class="footer-link" id="bottle-link"><a class="footer-a-tags" href="bottles.html">Bottles!</a></button>
        <button class="footer-link" id="apple-link"><a class="footer-a-tags" href="apples.html">Apples!</a></button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="../logic/archerLogic.js"></script>
    <script src="../logic/footerLogic.js"></script>
</body>
</html>
