<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/archerStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footerStyles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Animation Experimentations</title>
</head>
<body>

        <div id="leftDiv"><img id="rightFoot" src="../images/rightFoot.png"></div>
        <div id="centerDiv"></div>
        <div id="rightDiv"><img id="leftFoot" src="../images/leftFoot.png"></div>
        <div id="clockFace"></div>

        <div id="dot"></div>

        <button id="cta">Click Here!</button>
    
        <img  id="hourhand" src="../images/clock.png">
        <img  id="minutehand" src="../images/clock.png">
        <img  id="leaf" src="../images/leaf.png">
        <img  id="mikefyke-text" src="../images/text/jason-text.png">

        <p class="clockNum" id="number1">1</p>
        <p class="clockNum" id="number2">2</p>
        <p class="clockNum" id="number3">3</p>
        <p class="clockNum" id="number4">4</p>
        <p class="clockNum" id="number5">5</p>
        <p class="clockNum" id="number6">6</p>
        <p class="clockNum" id="number7">7</p>
        <p class="clockNum" id="number8">8</p>
        <p class="clockNum" id="number9">9</p>
        <p class="clockNum" id="number10">10</p>
        <p class="clockNum" id="number11">11</p>
        <p class="clockNum" id="number12">12</p>

        <!-- <div class="blueDiv" id="blueLeft1"> -->
            <img class="scanner-image" id="scanner00" src="../images/scanner/scanner00.png">
            <img class="scanner-image" id="scanner01" src="../images/scanner/scanner01.png">
            <img class="scanner-image" id="scanner02" src="../images/scanner/scanner02.png">
            <img class="scanner-image" id="scanner03" src="../images/scanner/scanner03.png">
            <img class="scanner-image" id="scanner04" src="../images/scanner/scanner04.png">
            <img class="scanner-image" id="scanner05" src="../images/scanner/scanner05.png">
            <img class="scanner-image" id="scanner06" src="../images/scanner/scanner06.png">
            <img class="scanner-image" id="scanner07" src="../images/scanner/scanner07.png">
            <img class="scanner-image" id="scanner08" src="../images/scanner/scanner08.png">
            <img class="scanner-image" id="scanner09" src="../images/scanner/scanner09.png">
            <img class="scanner-image" id="scanner10" src="../images/scanner/scanner10.png">
            <img class="scanner-image" id="scanner11" src="../images/scanner/scanner11.png">
        <!-- </div> -->
        <!-- <div class="blueDiv" id="blueLeft2"></div>

        <div class="blueDiv" id="blueRight1"></div>
        <div class="blueDiv" id="blueRight2"></div>
        <div class="blueDiv" id="blueRight3"></div>
        <div class="blueDiv" id="blueRight4"></div> -->

        <div id="blueKickDiv"></div>

        <div id="necklaceDiv"><img id="judy" src="../images/judy.png"></div>
        <img id="mikyung-text" src="../images/text/carrie-text.png">
        <img id="heart" src="../images/heart.png">

        <div id="buildingsDiv"><img id="buildings" src="../images/buildings.png"></div>

        <img id="signal-pulse" src="../images/signal-pulse.png">
        <img id="parnell-text" src="../images/text/ethan-text.png">

        <div id="parnellDiv"><img id="ethan-image" src="../images/ethan.png"></div>

        <div class="yellowDivs" id="yellowDiv1"></div>
        <div class="yellowDivs" id="yellowDiv2"></div>
        <div class="yellowDivs" id="yellowDiv3"></div>

        <div class="orangeDivs" id="orangeDiv1"><img id="abby-image" src="../images/abby.png"></div>
        <div class="orangeDivs" id="orangeDiv2"></div>
        <div class="orangeDivs" id="orangeDiv3"></div>

        <img id="taylor-text" src="../images/text/abby-text.png">

        <div class="runDiv1">
            <div  id="runPurple1"></div>
            <div  id="runPurple2"></div>
            <div  id="runPurple3"></div>
        </div>

        <div class="runDiv2">
            <div  id="runBlue1"></div>
            <div  id="runBlue2"></div>
            <div  id="runBlue3"></div>
        </div>

        <div class="runDiv3">
            <div  id="runTeal1"></div>
            <div  id="runTeal2"></div>
            <div  id="runTeal3"></div>
        </div>

        <div id="glassDiv"><img id="bobby-image" src="../images/bobby/Bobby00.png"></div>
        <img id="and-text" src="../images/text/and-text.png">
        <img id="walter-text" src="../images/text/bobby-text.png">

        
        <div  class="finalRedDivs" id="finalRedDiv1"></div>
        <div  class="finalRedDivs" id="finalRedDiv2"></div>
        
        <div class="letter-texts">
            <img id="j-text" src="../images/text/J-text.png">
            <img id="a-text" src="../images/text/A-text.png">
            <img id="s-text" src="../images/text/S-text.png">
            <img id="o-text" src="../images/text/O-text.png">
            <img id="n-text" src="../images/text/N-text.png">
        </div>

        <img id="happy-text" src="../images/text/happy-text.png">

        <img id="jason-fish" src="../images/jason-fish.png">

        <div class="bulletDivs">
            <div class="tealDiv" id="tealDiv1"></div>
            <div class="tealDiv" id="tealDiv2"></div>
            <div class="tealDiv" id="tealDiv3"></div>
            <div class="tealDiv" id="tealDiv4"></div>
            <div class="tealDiv" id="tealDiv5"></div>

            <div class="magentaDiv" id="magentaDiv1"></div>
            <div class="magentaDiv" id="magentaDiv2"></div>
            <div class="magentaDiv" id="magentaDiv3"></div>
            <div class="magentaDiv" id="magentaDiv4"></div>
            <div class="magentaDiv" id="magentaDiv5"></div>

            <div class="purpleDiv" id="purpleDiv1"></div>
            <div class="purpleDiv" id="purpleDiv2"></div>
            <div class="purpleDiv" id="purpleDiv3"></div>
            <div class="purpleDiv" id="purpleDiv4"></div>
            <div class="purpleDiv" id="purpleDiv5"></div>
        </div>

        <div id="bulletStreak"></div>

    <div class="footer">
        <button class="footer-link" id="home-link"><a class="footer-a-tags" href="../index.html">Home!</a></button>
        <button class="footer-link" id="tomato-link"><a class="footer-a-tags" href="tomatoes.html">Tomatoes!</a></button>
        <button class="footer-link" id="can-link"><a class="footer-a-tags" href="spider.html">Spider!</a></button>
        <button class="footer-link" id="bottle-link"><a class="footer-a-tags" href="bottles.html">Bottles!</a></button>
        <button class="footer-link" id="apple-link"><a class="footer-a-tags" href="apples.html">Apples!</a></button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="../logic/archerLogic.js"></script>
    <script src="../logic/footerLogic.js"></script>
</body>
</html>
