<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/footerStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/spiderStyles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Animation Experimentations</title>
</head>
<body>

    <div class="spider-container">
        <button id="cta"><img id="spider" src="../images/spider.png"></button>
        <h1>Click the spider</h1>
    </div>

    <div class="main-container" id="main-container">
        <div class="panel"></div>
        <div class="vertStripe" id="stripe1L"></div>
        <div class="vertStripe" id="stripe2L"></div>
        <div class="vertStripe" id="stripe3L"></div>
        <div class="vertStripe" id="stripe4L"></div>
        <div class="vertStripe" id="stripe5L"></div>
        <div class="vertStripe" id="stripe6L"></div>
        <div class="vertStripe" id="stripe1R"></div>
        <div class="vertStripe" id="stripe2R"></div>
        <div class="vertStripe" id="stripe3R"></div>
        <div class="vertStripe" id="stripe4R"></div>
        <div class="vertStripe" id="stripe5R"></div>
        <div class="vertStripe" id="stripe6R"></div>
    </div>

    <div class="footer">
        <button class="footer-link" id="home-link"><a class="footer-a-tags" href="../index.html">Home!</a></button>
        <button class="footer-link" id="tomato-link"><a class="footer-a-tags" href="tomatoes.html">Tomatoes!</a></button>
        <button class="footer-link" id="can-link"><a class="footer-a-tags" href="can.html">Can!</a></button>
        <button class="footer-link" id="bottle-link"><a class="footer-a-tags" href="bottles.html">Bottles!</a></button>
        <button class="footer-link" id="apple-link"><a class="footer-a-tags" href="apples.html">Apples!</a></button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="../logic/spiderLogic.js"></script>
    <script src="../logic/footerLogic.js"></script>
</body>
</html>
