#title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
}

#title-authors {
  position: absolute;
  top: -100px;
  left: 4px;
  margin: 0px;
  font-family: 'Anton', sans-serif;
  font-size: 4em;
}

#title-nemesis {
  position: absolute;
  top: -400px;
  left: 0px;
  margin: 0px;
  font-family: 'Anton', sans-serif;
  font-size: 15em;
}

.buttons-container {
  margin-top: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}

.cta {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Anton', sans-serif;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  outline: none;
  z-index: 1;
}

#cta1-text-container {
  position: absolute;
  top: -40px;
  right: 80px;
  text-align: center;
  opacity: 0;
}

#cta1-text {
  font-family: 'Anton', sans-serif;
  line-height: 70px;
  font-size: 70px;
  color: black;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
}

.cta img {
  width: 20%;
  height: 100%;
}

#page-button {
  position: relative;
  bottom: 60px;
  float: right;
  width: 50px;
  height: 50px;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#page-icon-number {
  position: relative;
  bottom: 80px;
  left: 150px;
  font-size: 30px;
}

#page-icon {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#pageback-button {
  position: relative;
  bottom: 60px;
  float: left;
  width: 50px;
  height: 50px;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#pageback-icon {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#issue1-cover {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#issue2-cover {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#issue3-cover {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#issue4-cover {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#cover1-container {
  position: absolute;
  top: 300px;
  margin: 0px 40%;
  opacity: 0;
  border-color: black;
  border-style: 1px solid;
  border-radius: 10px;
  background-color: white;
  width: 425px;
  height: 712.5px;
  border-width: 1px;
  border-style: solid;
}

#cover2-container {
  position: absolute;
  top: 300px;
  margin: 0px 40%;
  opacity: 0;
  border-color: black;
  border-style: 1px solid;
  border-radius: 10px;
  background-color: white;
  width: 425px;
  height: 712.5px;
  border-width: 1px;
  border-style: solid;
}

#cover3-container {
  position: absolute;
  top: 300px;
  margin: 0px 40%;
  opacity: 0;
  border-color: black;
  border-style: 1px solid;
  border-radius: 10px;
  background-color: white;
  width: 425px;
  height: 712.5px;
  border-width: 1px;
  border-style: solid;
}

#cover4-container {
  position: absolute;
  top: 300px;
  margin: 0px 40%;
  opacity: 0;
  border-color: black;
  border-style: 1px solid;
  border-radius: 10px;
  background-color: white;
  width: 425px;
  height: 712.5px;
  border-width: 1px;
  border-style: solid;
}

#Nemesis01-Panels {
  opacity: 0;
}

#Page01 {
  position: absolute;
  top: 20px;
  margin: 0px 39.75px;
  width: 344px;
  height: 220px;
  overflow: hidden;
}

.Panel01 {
  width: 100%;
  height: 100%;
}

#Panel01-Back {
  position: relative;
  top: 0px;
  left: 0px;
}

#Panel01-Build {
  position: inherit;
  top: 0px;
  left: 0px;
}

#Panel01-Text {
  position: inherit;
  top: 0px;
  left: 10px;
  font-size: 15px;
  color: white;
}

#Page02 {
  position: absolute;
  top: 248px;
  margin: 0px 39.75px;
  width: 344px;
  height: 195px;
  overflow: hidden;
}

.Panel02 {
  width: 100%;
  height: 100%;
}

#Panel02-Back {
  position: relative;
  top: 0px;
  left: 0px;
}

#Panel02-02 {
  position: inherit;
  top: 0px;
  left: 0px;
}

#Panel02-03 {
  position: inherit;
  top: 0px;
  left: 0px;
}

#Panel02-04 {
  position: inherit;
  top: 0px;
  left: -25px;
}

#Page03 {
  position: absolute;
  top: 452px;
  margin: 0px 39.75px;
  width: 344px;
  height: 190px;
  overflow: hidden;
}

.Panel03 {
  width: 100%;
  height: 100%;
}

#Panel03-01 {
  position: relative;
  top: 0px;
  left: 0px;
}

#Panel03-02 {
  position: inherit;
  top: 0px;
  left: -25px;
}

#Panel03-03 {
  position: inherit;
  top: 0px;
  left: 25px;
}

#Panel03-04 {
  position: inherit;
  top: 0px;
  left: 0px;
}

#Panel03-05 {
  position: inherit;
  top: 0px;
  right: -25px;
}

#Panel03-06 {
  position: inherit;
  top: 0px;
  left: 0px;
  opacity: 0;
}
/*# sourceMappingURL=appleStyles.css.map */