body{
    margin: 0;
}

#cta {
    position: fixed;
    left: 45vw;
    top: 40vh;
    background-color: white;
    border-color: transparent;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: center;
    outline: none;
    transform: scaleX(0);
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}

#dot{
    margin: auto auto;
    background-color: black;
    margin-top: 40%;
    transform: scaleY(0);
    transform: scaleX(0);
    border-radius: 500px;
}

#hourhand{
    position: fixed;
    left: 45vw;
    top: 5vh;
    width: 85px;
    height: 500px;
    opacity: 0;
}