body{
    margin: 0;
}

#cta {
    position: fixed;
    left: 45vw;
    top: 40vh;
    background-color: white;
    border-color: transparent;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: center;
    outline: none;
    transform: scaleX(0);
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}

#dot{
    margin: auto auto;
    background-color: black;
    margin-top: 40%;
    transform: scaleY(0);
    transform: scaleX(0);
    border-radius: 500px;
}

#hourhand{
    position: fixed;
    left: 47vw;
    top: 14vh;
    width: 85px;
    height: 400px;
    opacity: 0;
}

#minutehand{
    position: fixed;
    left: 47.5vw;
    top: 21vh;
    width: 55px;
    height: 300px;
    opacity: 0;
}


.clockNum {
    position: absolute;
    font-family: 'Kaushan Script', cursive;
    font-size: 5em;
    color: black;
    line-height: 1em;
    margin: 0;
    opacity: 0;
    // transform: scaleY(0);
    // transform: scaleX(0);
}

#number12{
    top: 5vh;
    left: 47vw;
}

#number1{
    top: 12vh;
    left: 59vw;
}

#number2{
    top: 26vh;
    left: 64vw;
}

#number3{
    top: 41vh;
    left: 68vw;
}

#number4{
    bottom: 37vh;
    left: 64vw;
}

#number5{
    bottom: 25vh;
    left: 59vw;
}

#number6{
    bottom: 18vh;
    left: 48vw;
}

#number7{
    bottom: 25vh;
    left: 36vw;
}

#number8{
    bottom: 37vh;
    left: 30vw;
}

#number9{
    top: 41vh;
    left: 28vw;
}

#number10{
    top: 26vh;
    left: 29vw;
}

#number11{
    top: 12vh;
    left: 36vw;
}

#leftDiv{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 90vh;
    width: 550px;
    background-color: green;
    opacity: 0;
}

#centerDiv{
    position: fixed;
    top: 20px;
    left: 25vw;
    height: 90vh;
    width: 1100px;
    background-color: black;
    opacity: 0;
}

#clockFace{
    position: fixed;
    top: 50px;
    left: 27vw;
    height: 960px;
    width: 960px;
    border-radius: 480px;
    background-color: white;
    opacity: 0;
}

#rightDiv{
    position: fixed;
    top: 20px;
    right: 20px;
    height: 90vh;
    width: 550px;
    background-color: yellow;
    opacity: 0;
}

.blueDiv{
    background-color: #4887cf;
}

#blueLeft1{
    position: absolute;
    top: 20vh;
    left: 40px;
    width: 45vw;
    height: 30vh;
    opacity: 0;
}

#blueLeft2{
    position: absolute;
    bottom: 20vh;
    left: 40px;
    width: 45vw;
    height: 25vh;
    opacity: 0;
}

#blueRight1{
    position: absolute;
    top: 15vh;
    right: 40px;
    width: 45vw;
    height: 40vh;
    opacity: 0;
}

#blueRight2{
    position: absolute;
    bottom: 36vh;
    right: 40px;
    width: 45vw;
    height: 5vh;
    opacity: 0;
}

#blueRight3{
    position: absolute;
    bottom: 28vh;
    right: 40px;
    width: 45vw;
    height: 5vh;
    opacity: 0;
}

#blueRight4{
    position: absolute;
    bottom: 20vh;
    right: 40px;
    width: 45vw;
    height: 5vh;
    opacity: 0;
}

#jet{
    position: absolute;
    left: 41vw;
    top: 14vh;
    opacity: 0;
    transform: scaleX(0);
}

#mikefyke-text{
    position: absolute;
    left: 20vw;
    bottom: 34vh;
    opacity: 0;
}

.bulletDivs{
    position: absolute;
    top: 40px;
    left: -250vw;
    display: flex;
    justify-content: space-evenly;
    width: 4000px;
    height: 100vh;
    margin-top: 60px;
    margin-bottom: 60px;
}

.purpleDiv{
    background-color: #cd5cd1;
    height: 900px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

.magentaDiv{
    background-color: #bd2d81;
    height: 900px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

.tealDiv{
    background-color: #8bf0e4;
    height: 900px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

#bulletStreak{
    position: absolute;
    top: 44.5vh;
    left: 22.5vw;
    height: 25px;
    width: 2000px;
    background-color: black;
    opacity: 0;
}

#blueKickDiv{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #4469e3;
    width: 90vw;
    height: 80vh;
    margin: 40px 100px;
    opacity: 0;
    transform: scaleX(0);
    transform: scaleY(0);
}

#necklaceDiv{
    position: absolute;
    top: 100px;
    left: 350px;
    width: 450px;
    height: 900px;
    background-color: #cc6ccc;
    opacity: 0;
    transform: scaleX(0);
    transform: scaleY(0);
}

#judy{
    width: 100%;
    height: 100%;
}

#mikyung-text{
    position: absolute;
    bottom: 0px;
    left: 550px;
    opacity: 0;
}

#heart{
    position: absolute;
    top: 100px;
    right: 550px;
    height: 450px;
    width: 450px;
    opacity: 0;
}

#parnell-text{
    position: absolute;
    bottom: 0px;
    left: 800px;
    opacity: 0;
}

#signal-pulse{
    position: absolute;
    bottom: 825px;
    left: 885px;
    opacity: 0;
}

#buildingsDiv{
    position: absolute;
    top: 325px;
    left: 885px;
    height: 700px;
    width: 950px;
}

#buildings{
    width: 100%;
    height: 100%;
}