body {
    font-family: 'Montserrat';
    padding: 9em;
}

.spider-container{
    position: absolute;
    top: 100px;
    left: 0;
    background-color:transparent;
    width: 100%;
    height: 100px;
    padding: 1em;
    text-align: center;

    h1 {
        font-size: 5em;
        width: 100%;
        color: crimson;
        line-height: 1em;
        transform: scale(1);
        margin: 0;
        opacity: 0;
        transform: scaleY(0);
        transform: scaleX(0);
    }

    #cta {
        position: relative;
        background: none;
        border-color: transparent;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 1.7em;
        padding: .5em 1em;
        margin-right: 20px;
        cursor: pointer;
        opacity: 0;
        transform: translateY(-50vw);
        outline: none;
        z-index: 1;
    }
}

.main-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    opacity: 0;

    .panel{
        margin: auto auto;
        background-color: crimson;
        margin-top: 40%;
        transform: scaleY(0);
        transform: scaleX(0);
        border-radius: 90px;
    }

    .vertStripeT{
        position: absolute;
        top: 0;
        left: 50%;
        width: 10px;
        height: 40vh;
        background-color: black;
        opacity: 0;
    }

    .vertStripeB{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 10px;
        height: 40vh;
        background-color: black;
        opacity: 0;
    }

    .horizStripe{
        position: absolute;
        top: 40%;
        left: 0;
        width: 100vw;
        height: 10px;
        background-color: black;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: center;
    }

    #stripeMidT{
        height: 40vh;
        transform: scaleY(0);
        transform-origin: top;
    }

    #stripeMidB{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 10px;
        height: 40vh;
        background-color: black;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: bottom;
    }
}