body {
    font-family: 'Montserrat';
    padding: 9em;
}

.top-panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 25vh;
    background-color: #b4b5b8;
    padding: 1em;
    text-align: center;
    transform: scaleY(0);
    transform-origin: top;
}

h1 {
    font-size: 5em;
    width: 100%;
    color: #992b2b;
    line-height: 1em;
    transform: scale(1);
    margin: 0;
    transform: scale(0);
    opacity: 0;
}

#cta {
    position: relative;
    background: none;
    border: 1px solid black;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.7em;
    padding: .5em 1em;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-50vw)
}

#cta2 {
    position: relative;
    background: none;
    border: 1px solid black;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.7em;
    padding: .5em 1em;
    cursor: pointer;
    opacity: 0;
    transform: translateX(+50vw)
}

.bottom-panel {
    position: absolute;
    width: 100vw;
    height: 75vh;
    bottom: 0;
    left: 0;
    background: #EAEAEA;
    box-sizing: border-box;
    padding: 5% 7%;
    transform: scaleY(0);
    transform-origin: bottom;
    text-align: center;

    img {
        height: 20vw;
        max-height: 200px;
        opacity: 0; // makes element invisible for a starting point for the animation
        transform: translateY(-200px); // squish down to zero for starting point of animation
    }    

    p {
        font-size: 1.9em;
        width: 80%;
        // opacity: 0; // makes element invisible for a starting point for the animation
    }

    .box {
        border: 5px solid lightgray;
        width: 65%;
        height: 30%;
        position: absolute;
        left: -7%;
        top: 15%;
        z-index: -1;
        // opacity: 0; // makes element invisible for a starting point for the animation
        // transform: scale(0);  // squish down to zero for starting point of animation
    }

}
